table{
	font-family: cursive;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px double #efffff;
	text-align: left;
	padding: 6px;
}
tr:nth-child(even){
	background-color: #eee;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
header{
	border: 2px solid powderblue;
	margin-right: 1000px;
}
.oursong{
	font-family: fantasy;
	text-align: center;
	color: mediumaquamarine;
}
.links{
	font-family: monospace;
	font-size: 30px;
}
.styleshead{
	border: 4px dotted darkgoldenrod;
	text-align: center;
	margin-inline: 500px;
}
#img1{
	width: 100%;
}
.style{
	background-image: url('../images/tdavn.jpeg');
}
.longlivehead{
	text-align: center;
	border: 10px double purple;
}
.longlive{
	color: purple;
}
